:root {
  --color-primary: #006cbb;
  --color-primary-dark: #004491;

  --color-white: #ffffff;
  --color-gray-light: #eeeeee;
  --color-gray: #cccccc;
  --color-gray-dark: #777777;
  --color-black: #000000;


}
